[Unit]
Description=uWSGI instance to serve data_view
After=network.target

[Service]
User=ubuntu
Group=www-data
WorkingDirectory={{ app_directory }}
Environment=PATH={{ venv }}/bin
ExecStart={{ venv }}/bin/uwsgi --ini data_view.ini

[Install]
WantedBy=multi-user.target
